@font-face {
  font-family: 'Fira Code VF';
  src: url('../FiraCode-VF.ttf') format('truetype');
}
@font-face {
  font-family: FiraSans;
  src: url('../FiraSans-Regular.ttf') format('truetype');
}


.article-container figure:not(.side-caption) p .caption-text {
	display: inline-block;
	text-align: center;
	text-align-last: center;
	width: calc(100% - 2em);
    left: 1em;
    position: relative;
    z-index: -1;
}
.article-container figcaption p {
	margin-top: 0;
}
.article-container figure.side-caption {
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto !important;
    margin: 0 1rem 1rem;
}
.article-container figure.side-caption img {
	width: 400px;
}
.article-container figure.side-caption figcaption {
	flex-grow: 1;
    text-align: left;
    margin-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* enable for justified text */
/*
@media (min-width: 67em) {
	.article-container p {
		text-align: justify;
		text-align-last: left;
		word-spacing: -0.05em;
	}
	.article-container table p {
		display: inline-block;
		text-align: left;
	}
	.article-container {
		hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		text-justify: inter-character;
	}
}
@media (max-width: 67em) {
	article .align-right {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
*/

dl.c .field-list dt, dl.cpp .field-list dt, dl.js .field-list dt, dl.py .field-list dt {
    text-transform: capitalize;
    font-size: var(--font-size--small);
    font-weight: bold;
}

p.rubric {
    text-transform: none;
    font-size: var(--font-size--small);
}

dl.class>dt, dl.enum-class>dt, dl.enum-struct>dt, dl.enum>dt, dl.exception>dt, dl.function>dt, dl.method>dt, dl.type>dt {
    padding-left: 1em;
    text-indent: 0em;
}

.highlight {
    font-size: 90%;
}

body {
	--color-api-keyword: #8833cc;
	--color-api-macro: #007020;
	
	--color-api-box: 231,242,250;
	--color-api-box-border: #6ab0de;
	--color-api-box-sub: #f0f0f0;
	--color-api-box-sub-border: #ccc;
	--class-background-alpha: 0.5;

	--font-stack--monospace: Fira Code VF, monospace;
    --font-stack: FiraSans, Source Sans Pro, Helvetica, sans-serif;
	font-feature-settings: "cv02", "cv14", "ss05", "ss04", "cv18", "ss03", "cv31", "cv29", "cv19", "cv23", "ss08", "zero";
	text-rendering: optimizelegibility;
	tab-size: 4;
}
body[data-theme=dark] {
    --color-api-name: #c9b032;
	--color-api-keyword: #d77014;
	--color-api-macro: #6c33f5;
	--color-foreground-muted: #a2a9b3;
	
	--color-api-box: 49,49,49;
	--color-api-box-border: #6e6e6e;
	--color-api-box-sub: #222;
	--color-api-box-sub-border: #444;
	--class-background-alpha: 0.15;
}
body[data-theme=dark] .highlight .c1 {
    color: #bab188;
}
body[data-theme=dark] .highlight span.linenos {
    color: rgb(97 97 90);
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme=light]) {
        --color-api-name: #c9b032;
		--color-api-keyword: #d77014;
	    --color-api-macro: #6c33f5;
		--color-foreground-muted: #a2a9b3;
		
		--color-api-box: 49,49,49;
		--color-api-box-border: #6e6e6e;
		--color-api-box-sub: #222;
		--color-api-box-sub-border: #444;
	--class-background-alpha: 0.15;
	}

    td.linenos .normal { color: rgb(97 97 90); background-color: transparent;}
    span.linenos { color: rgb(97 97 90); background-color: transparent; }
    td.linenos .special { color: #000000; background-color: #ffffc0; }
    span.linenos.special { color: #000000; background-color: #ffffc0;  }
    body:not([data-theme=light]) .highlight .c1 {
        color: #bab188;
    }
}

.sidebar-drawer {
    width: calc(50% - 40em);
}
.content {
	width: 100%;
}
.main {
    max-width: 100em;
}

dl:not(.simple) > .sig {
    background: rgba(var(--color-api-box), 1);
    border-top: 3px solid var(--color-api-box-border);
    padding: 6px;
}

dl:not(.simple) dl:not(.simple) > .sig {
    border: none;
    border-left: 3px solid var(--color-api-box-sub-border);
    background: var(--color-api-box-sub);
	padding-right: 2em;
}

dt.sig:not(.sig-inline) {
    text-indent: -8em;
    padding-left: calc(8em + 6px) !important;
    padding-right: 1.5em;
}
dt.sig:not(.sig-inline) > br + * {
    margin-left: -8em;
}
.function > .sig + .sig > br + *,
.function > .sig:nth-last-child(n+3) > br + * {
    margin-left: 0;
}

dt.sig:not(.sig-inline) > span.w {
    display: none;
}
dt.sig:not(.sig-inline) > span.w + * {
    padding-left: 0.5rem;
}
.code-block-caption>.headerlink, dl dt>.headerlink, figcaption p>.headerlink, h1>.headerlink, h2>.headerlink, h3>.headerlink, h4>.headerlink, h5>.headerlink, h6>.headerlink, p.caption>.headerlink, table>caption>.headerlink {
    margin-left: 0.1rem;
}

dl.cpp.class {
    background-color: rgba(var(--color-api-box), var(--class-background-alpha));
}

p.k.rubric {
    margin-bottom: 0.25em;
}
dl.cpp.class {
    padding-bottom: 1em;
}
dl.cpp.function {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
dl.field-list p {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}
dl.field-list {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
dl p:empty {
    display: none;
}

.sig-inline {
    background: var(--color-api-box-sub);
    padding: 4px;
}

.sig {
	font-family: var(--font-stack--monospace);
	font-size: 80% !important;
}

.sig-name .n.template_header, .sig-prename .n.template_header {
    color: var(--color-link) !important;
    font-weight: normal;
}

dl.c.macro > dt.sig > .sig-name:before {
	content: '#define ';
    color: var(--color-api-keyword);
}

.k, .kt {
    color: var(--color-api-keyword) !important;
}
.cp, .cpf {
    color: var(--color-api-macro) !important;
}
.p {
    color: var(--color-api-paren)!important;
}

.n {
    color: var(--color-link)!important;
}
.sig-prename .n,
.sig-name .n {
    color: var(--color-api-name)!important;
}
.highlight .sig-name {
    font-weight: normal;
    color: var(--color-link);
}

p.rubrik.k {
	margin-left: -1em;
}

span.linenos {
    padding-left: 2px;
    padding-right: 15px;
}

dl.field-list, dl.footnote {
    display: grid;
    grid-template-columns: max-content auto;
}

.admonition {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	column-gap: 1rem;
	padding-bottom: 0;
	margin: 0.25rem auto;
}
.admonition p.admonition-title {
	flex-grow: 1;
	margin: 0 -.5rem 0rem;
	min-width: 8em;
}
.admonition > *:not(.admonition-title) {
	flex-wrap: wrap;
	flex-grow: 1000;
	margin-top: 0.4rem;
}
.admonition > ul {
	display: flex;
}
.admonition > .simple:not(.admonition-title) {
	margin-top: 0;
}
.admonition-attributes li, .admonition-requirements li  {
	list-style-type: square;
	margin: 0 2.5em 0 0 !important;
}
/* if there are more than 2 children in an admonition => force it be me multi-line */
.admonition > p:nth-child(2):not(:last-child),
.admonition > p:nth-child(n+3) {
    width: 100%;
}
.admonition > p:nth-child(n+3):last-child {
    margin-bottom: .75rem;
}

body {
	--icon-attributes: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 4H4C3.44771 4 3 4.44772 3 5V19C3 19.5523 3.44772 20 4 20H20C20.5523 20 21 19.5523 21 19V5C21 4.44771 20.5523 4 20 4ZM4 2C2.34315 2 1 3.34315 1 5V19C1 20.6569 2.34315 22 4 22H20C21.6569 22 23 20.6569 23 19V5C23 3.34315 21.6569 2 20 2H4ZM6 7H8V9H6V7ZM11 7C10.4477 7 10 7.44772 10 8C10 8.55228 10.4477 9 11 9H17C17.5523 9 18 8.55228 18 8C18 7.44772 17.5523 7 17 7H11ZM8 11H6V13H8V11ZM10 12C10 11.4477 10.4477 11 11 11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H11C10.4477 13 10 12.5523 10 12ZM8 15H6V17H8V15ZM10 16C10 15.4477 10.4477 15 11 15H17C17.5523 15 18 15.4477 18 16C18 16.5523 17.5523 17 17 17H11C10.4477 17 10 16.5523 10 16Z" fill="currentColor" /></svg>');
	--icon-requirements: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2426 16.3137L6 12.071L7.41421 10.6568L10.2426 13.4853L15.8995 7.8284L17.3137 9.24262L10.2426 16.3137Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5ZM5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3Z" fill="currentColor" /></svg>');
}
.admonition.admonition-attributes {
	border-left: .2rem solid #5367e9;
}
.admonition.admonition-attributes p.admonition-title {
	background-color: #5367e91a;
}
.admonition.admonition-attributes p.admonition-title:before {
	background-color: #5367e9;
    -webkit-mask-image: var(--icon-attributes);
	mask-image: var(--icon-attributes);
}

.admonition.admonition-requirements {
	border-left: .2rem solid #cd4b2c;
    margin-bottom: 0.25em;
}
.admonition.admonition-requirements p.admonition-title {
	background-color: #cd4b2c1a;
}
.admonition.admonition-requirements p.admonition-title:before {
	background-color: #cd4b2c;
    -webkit-mask-image: var(--icon-requirements);
	mask-image: var(--icon-requirements);
}

.admonition.admonition-deprecated {
	border-left: .2rem solid var(--color-admonition-title--warning);
}
.admonition.admonition-deprecated p.admonition-title {
	background-color: var(--color-admonition-title-background--warning);
}
.admonition.admonition-deprecated p.admonition-title:before {
	background-color: var(--color-admonition-title--warning);
    -webkit-mask-image: var(--icon-warning);
	mask-image: var(--icon-warning);
}

.viewcode-back, .viewcode-link {
    position: relative;
    right: -1em;
}

.function > .sig + .sig,
.function > .sig:nth-last-child(n+3) {
    padding-left: 3em !important;
    text-indent: -2em !important;
}

span.viewcode-link {
    width: 1em !important;
}
span.viewcode-link:before {
    font: normal normal normal 14px/1 ForkAwesome;
    content: "\f121";
}
span.viewcode-link > span {
    display: none;
}

.headerlink:before {
    font: normal normal normal 14px/1 ForkAwesome;
    content: "\f13d";
}

.api_list {
    font-family: 'Fira Code', monospace;
    letter-spacing: -1px;
    font-size: 90%;
    opacity: 80%;
}

.api_list .api_list .api_list {
    display: none;
}
